body {
    background-color: #d0e4fe;
}

h1 {
    color: orange;
}

p {
    color: black;
}

.known {
    color: black;
}

.learning {
    color: red;
}

.unknown {
    color: yellow;
}

.textcontainer {
    width: 500px;
}

#translation {
    position: fixed;
    top: 2%;
    right: 2%;
}