body {
    background-color: #d0e4fe;
}

.known {
    color: black;
}

.learning {
    color: red;
}

.unknown {
    color: orange;
}

#translation {
    position: fixed;
    top: 2%;
    right: 2%;
}