{% extends "layout.html" %}
{% block body %}
    <h1>Statistics</h1>
    <ul>
        <li>total words: {{ stats_dict.word_count }}</li>
        <li>known words: {{ stats_dict.known_word_count }}</li>
        <li>unknown words: {{ stats_dict.unknown_word_count }}</li>
        <li>percent known: {{ stats_dict.percent_known }}</li>
    </ul>
    <h1>Top Unknown Words</h1>
    <ol>
    {% for count, word in top_unknown_words %}
        <li><span class="unknown">{{ word }}</span>: {{ count }}</li>
    {% endfor %}
    </ol>
    <h1>Top Learning Words</h1>
    <ol>
    {% for count, word in top_learning_words %}
        <li><span class="learning">{{ word }}</span>: {{ count }}</li>
    {% endfor %}
    </ol>
    <div class="jumbotron">
        <h1>{{ title }}</h1>
        <p>
        {% for token_tuples in token_tuple_lines %}
            {% for word, word_class in token_tuples -%}
                <span class="{{ word_class }}">{{ word }}</span>
            {%- endfor %}
            <br>
        {% endfor %}
        <p>
    </div>

    <h1>Delete Text</h1>
    <form action="{{ url_for('delete_text', text_id=text_id) }}" method="post">
        <input type="submit">
    </form>

    <div id="popoverHiddenContent" style="display: none">
        <button type="button" class="btn btn-primary btn-translate">Translate</button>
        <img class="loading-gif" src="/static/loading.gif" style="display: none">
        <p class="translation-container" style="display: none">put translation here</p>
        <div class="btn-group word-class-buttons">
          <button type="button" class="btn btn-default btn-known">Known</button>
          <button type="button" class="btn btn-default btn-unknown">Unknown</button>
          <button type="button" class="btn btn-default btn-learning">Learning</button>
        </div>
    </div>

    <p id="languageIDHiddenContent" style="display: none">{{ language_id }}</p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='text_controller.js') }}"></script>
{% endblock %}